[package]
name = "descriptors"
version = "0.7.0-rc.1"
license = "Apache-2.0"
authors = ["Dr. Maxim Orlovsky <orlovsky@pandoracore.com>"]
description = "Bitcoin descriptors library (part of descriptor-wallet)"
repository = "https://github.com/LNP-BP/descriptor-wallet"
homepage = "https://github.com/LNP-BP/descriptor-wallet/tree/master/descriptors"
keywords = ["bitcoin", "wallet", "cryptocurrency", "descriptor", "bip32"]
categories = ["cryptography::cryptocurrencies", "encoding", "parsing"]
readme = "../README.md"
edition = "2018"
exclude = []

[dependencies]
amplify = "3.12.0"
strict_encoding = "1.8.0-rc.11"
bitcoin = "0.28.0"
miniscript_crate = { package = "miniscript", version = "7.0.0", features = ["compiler"], optional = true }
bitcoin_hd = { version = "0.7.0-rc.1", path = "../hd" }
bitcoin_scripts = { version = "0.7.0-rc.1", path = "../scripts" }

[features]
all = ["rand", "miniscript"]
default = ["miniscript"]
miniscript = ["miniscript_crate", "strict_encoding/miniscript", "bitcoin_hd/miniscript"]
rand = ["bitcoin/rand", "amplify/rand"]
